$gap: 10px;
$card-border-radius: 3px;

.card {
  background-color: #fff;
  padding: $gap;
  &:not(:last-child) {
    margin-bottom: $gap;
  }
  margin-top: 2px;

  border-radius: $card-border-radius;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
