<div class="ui">
    <nav class="navbar app">Trello Clone</nav>
        <nav class="navbar board">Innovic Internal</nav>

    <div class="lists">
        <mp-column
                *ngFor="let column of columns$ | async"
                [column]="column?.id"
                [cards]="column?.cards"
                [columnName]="column?.name"
                (cardDrop)="onCardDrop($event)"
                (cardDrops)="onCardDrops($event)"
                (toColumn)="toColumn($event)"
                (addCard)="onAddCard($event)"></mp-column>

        <input class="inputColumn1" placeholder="Add new Column"
                (keyup)="onAddColumn($event)"
                [(ngModel)]="addColumnText">
    </div>


</div>
