<div class="list">
    <header>{{columnName}}</header>
    <ul>
        <mp-card
                *ngFor="let card of cards"
                [cardID]="card?.id"
                [cardTitle]="card?.title"
                [cardContent]="card?.content"
                [cardPositionX]="card?.positionX"
                [cardPositionY]="card?.positionY"
                (dragEnd)="onCardDrop($event)"
                (dragStart)="onCardDrops($event)"></mp-card>
        <input class="inputCard" placeholder="Add new card"
               (keyup)="addCardOnEnter($event)"
               [(ngModel)]="addCardText">
    </ul>
</div>